name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Windows:
    runs-on: windows-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Generate
      run: cmake .

    - name: Build
      run: cmake --build . --config Release
